$sidebar-collapsed-width: 0px !default;
$sidebar-bg-color: #f4f5f7 !default;
$highlight-color: #000000 !default;
$breakpoint-xs: 100px !default;
$sidebar-width: 25.3% !default;
$submenu-bg-color: #f4f5f7 !default;
$submenu-indent: 0px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';



.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item {
	padding: 0px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item{
	padding: 0px;
	pointer-events: none;
}

.comboSubMenu{
	pointer-events: none;
}

.pro-arrow{
	pointer-events: auto;
	// background-color: #d7d5d5;
}


.pro-arrow-wrapper{
	left: 4px;
}

.combo .pro-inner-item .pro-arrow-wrapper{
	left: 19px;
}

.failureNode .pro-inner-item .pro-arrow-wrapper{
	left: 19x;
}

.g6-tooltip {
	padding: 0px;
	padding-left: 3px;
	margin: 0px;
	color: rgb(253, 253, 253);
	background-color: rgba(0, 0, 0, 0.544);
	// border: 1px solid #000000;
	border-radius: 4px;
	width:fit-content;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #e9ecef;
}

.true{
	background-color: #e9ecef;
}



